
__pycache__/
*.pyc
.venv/
env/
venv/
*.csv
data/raw/
.vscode/
.env
*.xlsx
# LaTeX build files
*.bbl
*.blg
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.fdb_latexmk
*.fls 
# (Opcional ignorar PDF: geralmente não versionamos binários gerados, apenas o código fonte)